body {
    background-color: black;
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900;
    height: 600;
    background-color: rgb(74, 187, 54);
    font-family: 'Orbitron', sans-serif;
}